body {
    background: linear-gradient(red, orange);
    background-attachment: fixed;
}

.navbar-brand {
    margin-left: 10px;
}

#search-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
    color: yellow;
    text-shadow: 3px 3px black;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 50px;
    padding-left: 10px;
}

.message {
    text-align: center;
    color: black;
    text-shadow: 2px 2px grey;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 25px;
    padding-left: 10px;
}

.message {
    text-align: center;
    color: black;
    text-shadow: 2px 2px grey;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 25px;
    padding-left: 10px;
}

#camera-img {
    width: 0.8in;
    height: 0.8in;
    padding-right: 0.05in;
}

#info-container {
    align-items: center;
    text-align: center;
    background-image: linear-gradient(silver, white);;
    border-radius: 20px;
    box-shadow: 5px 5px black;
    padding: 10px;
}

.form-group {
    background: linear-gradient(silver, white);
    border-radius: 20px;
    box-shadow: 5px 5px black;
    padding: 10px;
    align-items: center;
}

.btn-primary {
    align-self: center;
    background: none repeat scroll 0 0 yellow;
    border-color: red maroon;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #333333;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
  }

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

#image-upload {
    width: 500px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}

figcaption {
    margin-top: 10px;
}

#file-upload {
    margin: auto;
    display: block;
}



