
body{background: red;}
#Poke-Home{
    justify-content: center;
    display: flex;
    background-color: white;
}
#info-container {
    justify-content: center;
    display: block;
    background:white;
    border-radius: 20px;
    box-shadow: 5px 5px black;
    padding: 10px;
    bottom: 1000px;
    width: 10000px;
    height: 600px;
    outline: auto;
}
#carouselExampleControls{
    background-color: white;
    justify-content: center;
    display: flex;
    left: 410px;
    margin-left: 5%;
    margin-right: 5%;
    width: 400px;
    height: 500px;
    
}
#more-squares {
    justify-content: center;
    display: block;
    background:white;
    outline: auto;
    border-radius: 20px;
    box-shadow: 5px 5px black;
    padding: 10px;
    bottom: 1000px;
    width: 10000px;
    height: 600px;
}
#headp {
    text-align: center;
    color: yellow;
    text-shadow: 3px 3px black;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 50px;
    padding-left: 10px;
}
#carouselExampleControls2{
    background-color: white;
    justify-content: center;
    display: flex;
    left: 770px;
    margin-left: 5%;
    margin-right: 5%;
    width: 400px;
    height: 500px;
    
}
#contentframe{
    bottom: -500px;
    left: 300px;
    justify-content: center;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
#Textbox {
    justify-content: center;
    display: flex;
    background:white;
    border-radius: 20px;
    box-shadow: 5px 5px black;
    padding: 10px;
    bottom: -300px;
    right: 500px;
    width: 350px;
    height: 60px;
    outline: auto;
}
#ball{
    width: 100px;
    height: 100%;
    margin-right: 10px;
    object-fit: cover;
}
#search{
    width: 200px;
}
