body {
    background: linear-gradient(red, orange);
    background-attachment: fixed;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    height: 300px;
    width: 300;
    background-color: white;
    border-radius: 10%;
    margin-bottom: 10%;
    filter: drop-shadow(10px 10px 10px #222);
}

.test{
    justify-content: center;
    display: flex;
}

figcaption{
    justify-content: center;
    display: flex;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px black;
    font-family: sans-serif;
    font-size: 45px;
    padding-left: 10px;
    padding-bottom: 50px;
    
}

#types-title {
    text-align: center;
    color: yellow;
    text-shadow: 4px 4px black;
    font-family: sans-serif;
    font-size: 100px;
    padding-left: 10px;
    margin-bottom: 50px;
}



