<!-- Worked on by: Pedro -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/info.css') }}" rel="stylesheet">
    {{ bootstrap.load_css() }}
</head>
<body>

    <!-- Basic Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Pokedex</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Generations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/types">Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Habitats</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <header id="info-header">
        <img id="pokeball-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1026px-Pok%C3%A9_Ball_icon.svg.png" alt="pokeball">
        <h1 class="heading"><b>{{ pokemon.name }}</b></h1>
    </header>

    <hr>

    <!-- Pokemon Info Container
            Pokemon Image
            Pokemon Dex Number
            Pokemon Description
            Pokemon Type(s)
            Pokemon Stats       -->
    <div id="info-container" class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <figure id="pokemon-image-fig">
                    <img id="main-pokemon-img" src="{{ img_tag }}" alt="{{ pokemon.name }}" >
                    <br>
                    <div id="dropdown-container" class="btn-group">
                        <button id="dropdown-button" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                            Transform Image
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('info', name=pokemon.name, transformation='normal') }}">Normal</a>
                            <a class="dropdown-item" href="{{ url_for('info', name=pokemon.name, transformation='grayscale') }}">Grayscale</a>
                            <a class="dropdown-item" href="{{ url_for('info', name=pokemon.name, transformation='negative') }}">Negative</a>
                            <a class="dropdown-item" href="{{ url_for('info', name=pokemon.name, transformation='sepia') }}">Sepia</a>
                        </div>
                    </div>
                    <div id="metadata-row" class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <figcaption id="pokemon-id"><b>#{{ pokemon.id }}</b> </figcaption>
                        </div>
                        <div id="exp-height-weight" class="col">
                            <br>
                            <figcaption><b>Base EXP: </b>{{ pokemon.base_experience }}</figcaption>
                            <figcaption><b>Height: </b>{{ pokemon.height }}</figcaption>
                            <figcaption><b>Weight: </b>{{ pokemon.weight }}</figcaption>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col">
                <p id="pokemon-bio">
                    <h3><b>Description:</b></h3>
                    <p>{{ bio }}</p>
                </p>
                <h3><b>Types:</b></h3>
                <div class="types">
                    {% for type in pokemon.types %}
                        <a href="#" class="pokemon-type">
                            <b>{{ type.type.name }}</b>
                        </a>
                    {% endfor %}
                </div>
                <br>
                <h3><b>Habitats:</b></h3>
                {% for habitat in habitat_list %}
                    <figure class="habitat-fig">
                        <img class="habitats" src="/static/images/habitats/{{ habitat }}.png" alt="{{ habitat }}">
                        <figcaption><a href="#">{{ habitat }}</a></figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>
        <h3><b>Stats:</b></h3>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    </div>

    <br>

    <h1 class="heading"><b>Evolution Chain</b></h1>

    <!-- Pokemon Evolution Chain Container -->
    <div id="evolution-container" class="container">
        <div class="row justify-content-md-center">
            {% for id in evolution_dict %}
                <div id="evolution-col" class="col-md-auto">
                    <figure class="evolution-img-fig">
                        <a href="{{ url_for('info', name=evolution_dict[id], transformation='normal') }}">
                            <img id="evolution-img" src="https://cdn.traction.one/pokedex/pokemon/{{ id }}.png" alt="Evolution Chain Image">
                        </a>
                        <figcaption id="evolution-name"><b>{{ evolution_dict[id] }}</b></figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>

    <br>

    <!-- Generations Table -->
    <div class="container">
        <div id="gen-row" class="row">
            <div class="col">
                <h1 class="heading"><b>Generations</b></h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Gen</th>
                            <th scope="col">Sprite</th>
                            <th scope="col">Games</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gen in gen_dict %}
                            <tr>
                                <th id="gen-number" scope="row"><a href="/">{{ gen }}</a></th>
                                <td>
                                    <img class="gen-sprite" src="{{ gen_dict[gen]['sprite'] }}" alt="sprite">
                                </td>
                                <td>
                                    {% for game in gen_dict[gen]['games'] %}
                                        <img class="box-art" src="/static/images/box_art/{{ gen }}-{{ game }}.png" alt="{{ game }}">
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script type="text/javascript">
        var xValues = ["HP", "Attack", "Defense", "Special-Attack", "Special-Defense", "Speed"];
        var yValues = [{{ stats["hp"] }}, {{ stats["attack"] }}, {{ stats["defense"] }}, {{ stats["special-attack"] }}, {{ stats["special-defense"] }}, {{ stats["speed"] }}];
        var barColors = ["red", "green","blue","orange","brown", "yellow"];

        new Chart("myChart", {
            type: "horizontalBar",
            data: {
                labels: xValues,
                datasets: [{
                backgroundColor: barColors,
                data: yValues
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        display: true,
                        ticks: {
                            min: 0
                        }
                    }]
                }
            }
        });
    </script>
    
</body>
</html>
