<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link href="static/css/info.css" rel="stylesheet">
</head>
<body>

    <header id="info-header">
        <img id="pokeball-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1026px-Pok%C3%A9_Ball_icon.svg.png" alt="pokeball">
        <h1 id="pokemon-name">Charmander</h1>
    </header>
    
    <div class="pokemon-entry-container">
        <div class="pokemon-image-container">
            <figure id="pokemon-image-fig">
                <img id="main-pokemon-img" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Charmander" >
                <figcaption id="pokemon-id"> #4 </figcaption>
            </figure>
        </div>

        <div class="pokemon-stats-container">
            
        </div>

        <div class="pokemon-evolutions-container">

        </div>

        <div class="pokemon-generations-container">

        </div>

        <div class="pokemon-habitats-container">

        </div>
    </div>
    
</body>
</html>
