<!-- Worked on by: Pedro -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Info</title>
    <link href="{{ url_for('static', filename='css/info.css') }}" rel="stylesheet">
    {{ bootstrap.load_css() }}
</head>
<body>

    <!-- Basic Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Pokedex</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Generations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/types">Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Habitats</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <header id="info-header">
        <img id="pokeball-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1026px-Pok%C3%A9_Ball_icon.svg.png" alt="pokeball">
        <h1 class="heading"><b>{{ pokemon.name }}</b></h1>
    </header>

    <hr>

    <!-- Pokemon Info Container
            Pokemon Image
            Pokemon Dex Number
            Pokemon Description
            Pokemon Type(s)
            Pokemon Stats       -->
    <div id="info-container" class="container">
        <div class="row">
            <div class="col">
                <figure id="pokemon-image-fig">
                    <img id="main-pokemon-img" src="{{ img_url }}" alt="Charmander" >
                    <div id="metadata-row" class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <figcaption id="pokemon-id"><b>#{{ pokemon.id }}</b> </figcaption>
                        </div>
                        <div id="exp-height-weight" class="col">
                            <br>
                            <figcaption><b>Base EXP: </b>{{ pokemon.base_experience }}</figcaption>
                            <figcaption><b>Height: </b>{{ pokemon.height }}</figcaption>
                            <figcaption><b>Weight: </b>{{ pokemon.weight }}</figcaption>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col">
                <p id="pokemon-bio">
                    <b>Description:</b>
                    <p>{{ bio }}</p>
                </p>
                <b>Types:</b>
                <div class="types">
                    {% for type in pokemon.types %}
                        <a href="#" class="pokemon-type">
                            <b>{{ type.type.name }}</b>
                        </a>
                    {% endfor %}
                </div>
                <b>Found In:</b>
                {% for habitat in habitat_list %}
                    <figure class="habitat-fig">
                        <img class="habitats" src="/static/images/habitats/{{ habitat }}.png" alt="{{ habitat }}">
                        <figcaption><a href="#">{{ habitat }}</a></figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>
        <b>Stats:</b>
        <div class="stats">
            {% for stat in stats %}
                <b>{{ stat }}: </b>
                <span>{{ stats[stat] }}</span>
            {% endfor %}
        </div>
    </div>

    <br>

    <h1 class="heading"><b>Evolution Chain</b></h1>

    <!-- Pokemon Evolution Chain Container -->
    <div id="evolution-container" class="container">
        <div class="row justify-content-md-center">
            {% for id in evolution_dict %}
                <div id="evolution-col" class="col-md-auto">
                    <figure class="evolution-img-fig">
                        <a href="{{ url_for('info', name=evolution_dict[id]) }}">
                            <img id="evolution-img" src="https://cdn.traction.one/pokedex/pokemon/{{ id }}.png" alt="Evolution Chain Image">
                        </a>
                        <figcaption id="evolution-name"><b>{{ evolution_dict[id] }}</b></figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>

    <br>

    <!-- Generations Table -->
    <div class="container">
        <div id="gen-row" class="row">
            <div class="col">
                <h1 class="heading"><b>Generations</b></h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Gen</th>
                            <th scope="col">Sprite</th>
                            <th scope="col">Games</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gen in gen_dict %}
                            <tr>
                                <th id="gen-number" scope="row"><a href="/">{{ gen }}</a></th>
                                <td>
                                    <img class="gen-sprite" src="{{ gen_dict[gen]['sprite'] }}" alt="sprite">
                                </td>
                                <td>
                                    {% for game in gen_dict[gen]['games'] %}
                                        <img class="box-art" src="/static/images/box_art/{{ gen }}-{{ game }}.png" alt="{{ game }}">
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    
</body>
</html>
