<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/types.css" rel="stylesheet">
    <title>Type List</title>
</head>

<body>
<header id = "types-header">
    <h1 id="types-title">Types</h1>
</header>

<div class="types-row">
    <figure>
        <img class = "types-picture" src="static/images/bugType.png">
        <figcaption>Grass</figcaption>
    </figure>
    <figure>
        <img class="types-picture" src="static/images/dragonType.jpg">
        <figcaption>Dragon</figcaption>
    </figure>
</div>

<div class="types-row">
    <figure>
        <img class = "types-picture" src="static/images/electricType.jpg">
        <figcaption>Electric</figcaption>
    </figure>
    <figure>
        <img class="types-picture" src="static/images/fightingType.png">
        <figcaption>Fighting</figcaption>
    </figure>
</div>

<div class="types-row">
    <figure>
        <img class = "types-picture" src="static/images/fireType.png">
        <figcaption>Fire</figcaption>
    </figure>
    <figure>
        <img class="types-picture" src="static/images/flyingType.png">
        <figcaption>Flying</figcaption>
    </figure>
</div>

<div class="types-row">
    <figure>
        <img class = "types-picture" src="static/images/ghostType.png">
        <figcaption>Ghost</figcaption>
    </figure>
    <figure>
        <img class="types-picture" src="static/images/grassType.png">
        <figcaption>Grass</figcaption>
    </figure>
</div>

<div class="types-row">
    <figure>
        <img class = "types-picture" src="static/images/groundType.png">
        <figcaption>Ground</figcaption>
    </figure>
    <figure>
        <img class="types-picture" src="static/images/iceType.jpg">
        <figcaption>Ice</figcaption>
    </figure>
</div>
    
<div class="types-row">
    <figure>
        <img class = "types-picture" src="static/images/normalType.png">
        <figcaption>Normal</figcaption>
    </figure>
    <figure>
        <img class="types-picture" src="static/images/poisonType.png">
        <figcaption>Poison</figcaption>
    </figure>
</div>

<div class="types-row">
    <figure>
        <img class = "types-picture" src="static/images/psychicType.png">
        <figcaption>Psychic</figcaption>
    </figure>
    <figure>
        <img class="types-picture" src="static/images/rockType.png">
        <figcaption>Rock</figcaption>
    </figure>
</div>

<div class="types-row">
    <figure>
        <img class = "types-picture" src="static/images/waterType.png">
        <figcaption>Water</figcaption>
    </figure>
</div>

</body>
</html>

